enttec_dmxusbpro_flows.json
[{"id":"586ca96d.c55028","type":"tab","label":"OUT","disabled":false,"info":""},{"id":"634116c9.933f88","type":"udp out","z":"586ca96d.c55028","name":"","addr":"192.168.5.27","iface":"","port":"4559","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":890,"y":140,"wires":[]},{"id":"7be59f1f.aa539","type":"osc","z":"586ca96d.c55028","name":"","path":"","metadata":false,"x":710,"y":140,"wires":[["634116c9.933f88"]]},{"id":"2d108c6c.3b0354","type":"link in","z":"586ca96d.c55028","name":"Sonic Pi Laptop","links":["b8cc9f51.6e55"],"x":460,"y":140,"wires":[["7be59f1f.aa539"]],"l":true},{"id":"d799e7a6.d8b218","type":"comment","z":"586ca96d.c55028","name":"Sonic-Pi","info":"","x":660,"y":80,"wires":[]},{"id":"2ccd98fe.e59328","type":"ui_slider","z":"586ca96d.c55028","name":"DMX2","label":"DMX 2","tooltip":"","group":"71e4ed09.f6dea4","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":330,"y":540,"wires":[["b4c7a6e0.964f48","bc3d6c15.27bb9"]]},{"id":"dc249b25.23a088","type":"ui_slider","z":"586ca96d.c55028","name":"DMX12","label":"DMX 12","tooltip":"","group":"71e4ed09.f6dea4","order":12,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":340,"y":940,"wires":[["68eeccf1.a70684","bc3d6c15.27bb9"]]},{"id":"dfc15c5e.708e2","type":"ui_slider","z":"586ca96d.c55028","name":"DMX11","label":"DMX 11","tooltip":"","group":"71e4ed09.f6dea4","order":11,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":340,"y":900,"wires":[["dea20758.e8d3a8","bc3d6c15.27bb9"]]},{"id":"c7f48788.5a8dd8","type":"ui_slider","z":"586ca96d.c55028","name":"DMX10","label":"DMX 10","tooltip":"","group":"71e4ed09.f6dea4","order":10,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":340,"y":860,"wires":[["cecb3900.f6e168","bc3d6c15.27bb9"]]},{"id":"4acc1ea6.a8c69","type":"ui_slider","z":"586ca96d.c55028","name":"DMX9","label":"DMX 9","tooltip":"","group":"71e4ed09.f6dea4","order":9,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":330,"y":820,"wires":[["bc0abdd1.3b4c3","bc3d6c15.27bb9"]]},{"id":"e0dd3cdb.eae9b","type":"ui_slider","z":"586ca96d.c55028","name":"DMX8","label":"DMX 8","tooltip":"","group":"71e4ed09.f6dea4","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":330,"y":780,"wires":[["f2a375fd.32dab8","bc3d6c15.27bb9"]]},{"id":"648e959.acf336c","type":"ui_slider","z":"586ca96d.c55028","name":"DMX7","label":"DMX 7","tooltip":"","group":"71e4ed09.f6dea4","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":330,"y":740,"wires":[["a6d24953.884e58","bc3d6c15.27bb9"]]},{"id":"a7563483.dfce58","type":"ui_slider","z":"586ca96d.c55028","name":"DMX6","label":"DMX 6","tooltip":"","group":"71e4ed09.f6dea4","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":330,"y":700,"wires":[["aae38581.075a18","bc3d6c15.27bb9"]]},{"id":"cdcc98d9.d65ea8","type":"ui_slider","z":"586ca96d.c55028","name":"DMX5","label":"DMX 5","tooltip":"","group":"71e4ed09.f6dea4","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":330,"y":660,"wires":[["a5a65b0b.89d728","bc3d6c15.27bb9"]]},{"id":"14704d8.b9f4db3","type":"ui_slider","z":"586ca96d.c55028","name":"DMX4","label":"DMX 4","tooltip":"","group":"71e4ed09.f6dea4","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":330,"y":620,"wires":[["cf1cf52a.1de098","bc3d6c15.27bb9"]]},{"id":"f985406a.23ef","type":"ui_slider","z":"586ca96d.c55028","name":"DMX3","label":"DMX 3","tooltip":"","group":"71e4ed09.f6dea4","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":330,"y":580,"wires":[["ef2d00cd.2cadb","bc3d6c15.27bb9"]]},{"id":"3d670f8c.0d07c","type":"change","z":"586ca96d.c55028","name":"save to Global DMX1","rules":[{"t":"set","p":"dmx_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":500,"wires":[[]]},{"id":"b4c7a6e0.964f48","type":"change","z":"586ca96d.c55028","name":"save to Global DMX2","rules":[{"t":"set","p":"dmx_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":540,"wires":[[]]},{"id":"ef2d00cd.2cadb","type":"change","z":"586ca96d.c55028","name":"save to Global DMX3","rules":[{"t":"set","p":"dmx_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":580,"wires":[[]]},{"id":"cf1cf52a.1de098","type":"change","z":"586ca96d.c55028","name":"save to Global DMX4","rules":[{"t":"set","p":"dmx_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":620,"wires":[[]]},{"id":"a5a65b0b.89d728","type":"change","z":"586ca96d.c55028","name":"save to Global DMX5","rules":[{"t":"set","p":"dmx_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":660,"wires":[[]]},{"id":"aae38581.075a18","type":"change","z":"586ca96d.c55028","name":"save to Global DMX6","rules":[{"t":"set","p":"dmx_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":700,"wires":[[]]},{"id":"a6d24953.884e58","type":"change","z":"586ca96d.c55028","name":"save to Global DMX7","rules":[{"t":"set","p":"dmx_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":740,"wires":[[]]},{"id":"f2a375fd.32dab8","type":"change","z":"586ca96d.c55028","name":"save to Global DMX8","rules":[{"t":"set","p":"dmx_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":780,"wires":[[]]},{"id":"bc0abdd1.3b4c3","type":"change","z":"586ca96d.c55028","name":"save to Global DMX9","rules":[{"t":"set","p":"dmx_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":820,"wires":[[]]},{"id":"cecb3900.f6e168","type":"change","z":"586ca96d.c55028","name":"save to Global DMX10","rules":[{"t":"set","p":"dmx_preset[9]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":860,"wires":[[]]},{"id":"dea20758.e8d3a8","type":"change","z":"586ca96d.c55028","name":"save to Global DMX11","rules":[{"t":"set","p":"dmx_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":900,"wires":[[]]},{"id":"68eeccf1.a70684","type":"change","z":"586ca96d.c55028","name":"save to Global DMX12","rules":[{"t":"set","p":"dmx_preset[11]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":940,"wires":[[]]},{"id":"bc3d6c15.27bb9","type":"function","z":"586ca96d.c55028","name":"Send Current Universe","func":"msg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":720,"wires":[["220c235f.95f41c","316d09cc.4c19c6"]]},{"id":"316d09cc.4c19c6","type":"dmxusbpro","z":"586ca96d.c55028","name":"","port":"/dev/ttyUSB0","DMX_starting_address":"1","x":988,"y":680,"wires":[[]]},{"id":"220c235f.95f41c","type":"debug","z":"586ca96d.c55028","name":"Current Preset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":987,"y":744,"wires":[]},{"id":"ac09af7f.250ef","type":"ui_slider","z":"586ca96d.c55028","name":"DMX1","label":"DMX 1","tooltip":"","group":"71e4ed09.f6dea4","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":330,"y":500,"wires":[["3d670f8c.0d07c","bc3d6c15.27bb9"]]},{"id":"f7c430f3.8c33c","type":"link in","z":"586ca96d.c55028","name":"DMX 1","links":["f058c181.f528"],"x":235,"y":500,"wires":[["ac09af7f.250ef"]]},{"id":"64145680.4fb3f8","type":"link in","z":"586ca96d.c55028","name":"DMX 2","links":["1f91156b.7c929b"],"x":235,"y":540,"wires":[["2ccd98fe.e59328"]]},{"id":"70ae52a.ae89bac","type":"link in","z":"586ca96d.c55028","name":"DMX 3","links":["7c32dfcf.5693c"],"x":235,"y":580,"wires":[["f985406a.23ef"]]},{"id":"73d90622.1b30e8","type":"link in","z":"586ca96d.c55028","name":"DMX4","links":["66ae0070.e6398"],"x":235,"y":620,"wires":[["14704d8.b9f4db3"]]},{"id":"ce3a11a1.ac70a","type":"comment","z":"586ca96d.c55028","name":"DMX","info":"","x":272.50000762939453,"y":451.2500057220459,"wires":[]},{"id":"a66a5156.0d9b1","type":"link in","z":"586ca96d.c55028","name":"DMX 5","links":["ddffcfc9.a0065"],"x":235,"y":660,"wires":[["cdcc98d9.d65ea8"]]},{"id":"e66d5af7.5b0568","type":"link in","z":"586ca96d.c55028","name":"DMX 6","links":["675e722b.eed32c"],"x":235,"y":700,"wires":[["a7563483.dfce58"]]},{"id":"d6705d2d.187d","type":"link in","z":"586ca96d.c55028","name":"DMX 7","links":["7047137b.b59bdc"],"x":235,"y":740,"wires":[["648e959.acf336c"]]},{"id":"ed9723bb.26e19","type":"link in","z":"586ca96d.c55028","name":"DMX 8","links":["760cc0d7.24b65"],"x":235,"y":780,"wires":[["e0dd3cdb.eae9b"]]},{"id":"edbeb037.c45fd","type":"link in","z":"586ca96d.c55028","name":"DMX 9","links":["7420b28c.129a4c"],"x":235,"y":820,"wires":[["4acc1ea6.a8c69"]]},{"id":"aa515a33.232128","type":"link in","z":"586ca96d.c55028","name":"DMX 10","links":["5ab78e7.78de37"],"x":235,"y":860,"wires":[["c7f48788.5a8dd8"]]},{"id":"aace29b.7ba99d8","type":"link in","z":"586ca96d.c55028","name":"DMX 11","links":["4712e1d.9d30f2"],"x":235,"y":900,"wires":[["dfc15c5e.708e2"]]},{"id":"61a65383.55d04c","type":"link in","z":"586ca96d.c55028","name":"DMX 12","links":["7fda65e6.ce3d2c"],"x":235,"y":940,"wires":[["dc249b25.23a088"]]},{"id":"7820a8cb.f081a8","type":"link in","z":"586ca96d.c55028","name":"Sonic Pi RPi","links":["6c07f3b.8f8e80c"],"x":450,"y":180,"wires":[[]],"l":true},{"id":"71e4ed09.f6dea4","type":"ui_group","z":"","name":"DMX SLIDERS","tab":"7fb2daa8.06b9c4","order":2,"disp":true,"width":"8","collapse":true},{"id":"7fb2daa8.06b9c4","type":"ui_tab","z":"","name":"DMX","icon":"dashboard","disabled":false,"hidden":false}]