feb8flows.json
[{"id":"5e99076a.951088","type":"tab","label":"Scene 1 Llum festival","disabled":false,"info":""},{"id":"a74dee03.d7201","type":"catch","z":"5e99076a.951088","name":"","x":100,"y":40,"wires":[["87812745.ee2cc8"]]},{"id":"87812745.ee2cc8","type":"debug","z":"5e99076a.951088","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":40,"wires":[]},{"id":"79713719.466e08","type":"udp out","z":"5e99076a.951088","name":"","addr":"192.168.42.151","iface":"","port":"8001","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1030,"y":720,"wires":[]},{"id":"a9f1e45a.5baaf8","type":"ui_slider","z":"5e99076a.951088","name":"","label":"cooling","tooltip":"{{msg.payload}}","group":"287080e9.b0308","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"300","step":1,"x":440,"y":660,"wires":[["1a64046a.d45acc"]]},{"id":"204b84d3.70bddc","type":"osc","z":"5e99076a.951088","name":"/flame1","path":"/flame1","metadata":false,"x":800,"y":660,"wires":[["79713719.466e08","6633bb85.6c2e24","1d2f0446.bdfa4c","ed27cbca.09b4a8","c5152ddc.2fe93"]]},{"id":"93c9b94.0242848","type":"osc","z":"5e99076a.951088","name":"/flame2","path":"/flame2","metadata":false,"x":800,"y":700,"wires":[["79713719.466e08","6633bb85.6c2e24","1d2f0446.bdfa4c","ed27cbca.09b4a8","c5152ddc.2fe93"]]},{"id":"5dc26cd8.880504","type":"ui_slider","z":"5e99076a.951088","name":"","label":"sparkling","tooltip":"{{msg.payload}}","group":"287080e9.b0308","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"300","step":1,"x":440,"y":700,"wires":[["8dd54d43.cf66e"]]},{"id":"6633bb85.6c2e24","type":"udp out","z":"5e99076a.951088","name":"","addr":"192.168.42.150","iface":"","port":"8000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1030,"y":660,"wires":[]},{"id":"1d2f0446.bdfa4c","type":"udp out","z":"5e99076a.951088","name":"","addr":"192.168.42.152","iface":"","port":"8002","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1030,"y":780,"wires":[]},{"id":"ed27cbca.09b4a8","type":"udp out","z":"5e99076a.951088","name":"","addr":"192.168.42.153","iface":"","port":"8003","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1030,"y":840,"wires":[]},{"id":"c5152ddc.2fe93","type":"udp out","z":"5e99076a.951088","name":"","addr":"192.168.42.154","iface":"","port":"8004","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1030,"y":900,"wires":[]},{"id":"4feaaa93.8976d4","type":"function","z":"5e99076a.951088","name":"READINGS","func":"var amblight = msg.payload.data.sensors[0].value;\nvar hum = msg.payload.data.sensors[2].value;\nvar temp = msg.payload.data.sensors[3].value;\nvar CO = msg.payload.data.sensors[4].value;\nvar NO2 = msg.payload.data.sensors[5].value;\nvar wifi = msg.payload.data.sensors[6].value;\nvar noise = msg.payload.data.sensors[7].value;\n\nmsg.topic = \"values_shanghai\";\n\nreturn [{payload:amblight},{payload:hum},{payload:temp},{payload:CO},{payload:NO2},{payload:wifi},{payload:noise}];\n","outputs":7,"noerr":0,"x":890,"y":200,"wires":[["3d1a0f4f.4f006","e35651e6.17d6e"],["8a4ce3c9.c8d7f","214b1a7c.88c566"],["ca280ad6.1b7958","db727dd0.dde3e"],["4ae0beda.7272d","ae48666.7688598"],["dfeac43e.ae0808","30b5c1c3.15efae"],["166aad07.aacff3","6a6d26a1.0e8b18"],["41fcc311.b7a10c","ec64056d.8d3ae8"]]},{"id":"5455c37a.a0ee0c","type":"http request","z":"5e99076a.951088","name":"Smartcitizen API GET SHANGHAI","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.smartcitizen.me/v0/devices/3223","tls":"","proxy":"","authType":"","x":660,"y":200,"wires":[["4feaaa93.8976d4"]]},{"id":"c91e0853.bb3ed8","type":"inject","z":"5e99076a.951088","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":260,"wires":[["5455c37a.a0ee0c","636d6a95.ef26c4"]]},{"id":"53f9d32f.57d54c","type":"ui_slider","z":"5e99076a.951088","name":"DMX1","label":"DMX 1","tooltip":"","group":"287080e9.b0308","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":250,"y":1380,"wires":[["a3664dbb.c7679","bd28529b.b2408"]]},{"id":"a3664dbb.c7679","type":"change","z":"5e99076a.951088","name":"save to Global DMX1","rules":[{"t":"set","p":"dmx_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1380,"wires":[[]]},{"id":"bd28529b.b2408","type":"function","z":"5e99076a.951088","name":"Send Current Universe","func":"msg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1440,"wires":[["7568682c.1a0108"]]},{"id":"dbc55c05.55fc5","type":"ui_slider","z":"5e99076a.951088","name":"DMX2","label":"DMX 2","tooltip":"","group":"287080e9.b0308","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":250,"y":1420,"wires":[["e56aa995.08f068","bd28529b.b2408"]]},{"id":"b28c3bd6.f50d08","type":"ui_slider","z":"5e99076a.951088","name":"DMX4","label":"DMX 4","tooltip":"","group":"287080e9.b0308","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":250,"y":1500,"wires":[["e23086a4.5303f8","bd28529b.b2408"]]},{"id":"3ada1774.f61f38","type":"ui_slider","z":"5e99076a.951088","name":"DMX3","label":"DMX 3","tooltip":"","group":"287080e9.b0308","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Slider","min":0,"max":"255","step":1,"x":250,"y":1460,"wires":[["66aa9512.79a27c","bd28529b.b2408"]]},{"id":"7568682c.1a0108","type":"dmxusbpro","z":"5e99076a.951088","name":"","port":"/dev/ttyUSB0","DMX_starting_address":"1","x":930,"y":1440,"wires":[[]]},{"id":"e56aa995.08f068","type":"change","z":"5e99076a.951088","name":"save to Global DMX2","rules":[{"t":"set","p":"dmx_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1420,"wires":[[]]},{"id":"e23086a4.5303f8","type":"change","z":"5e99076a.951088","name":"save to Global DMX4","rules":[{"t":"set","p":"dmx_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1500,"wires":[[]]},{"id":"66aa9512.79a27c","type":"change","z":"5e99076a.951088","name":"save to Global DMX3","rules":[{"t":"set","p":"dmx_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1460,"wires":[[]]},{"id":"3d1a0f4f.4f006","type":"ui_text","z":"5e99076a.951088","group":"e7e12718.24e5e8","order":7,"width":0,"height":0,"name":"","label":"light","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":40,"wires":[]},{"id":"8a4ce3c9.c8d7f","type":"ui_text","z":"5e99076a.951088","group":"e7e12718.24e5e8","order":2,"width":0,"height":0,"name":"","label":"hum","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":80,"wires":[]},{"id":"4ae0beda.7272d","type":"ui_text","z":"5e99076a.951088","group":"e7e12718.24e5e8","order":5,"width":0,"height":0,"name":"","label":"CO","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":160,"wires":[]},{"id":"dfeac43e.ae0808","type":"ui_text","z":"5e99076a.951088","group":"e7e12718.24e5e8","order":3,"width":0,"height":0,"name":"","label":"NO2","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":200,"wires":[]},{"id":"166aad07.aacff3","type":"ui_text","z":"5e99076a.951088","group":"e7e12718.24e5e8","order":1,"width":0,"height":0,"name":"","label":"WIFI","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":240,"wires":[]},{"id":"41fcc311.b7a10c","type":"ui_text","z":"5e99076a.951088","group":"e7e12718.24e5e8","order":6,"width":0,"height":0,"name":"","label":"Noise","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":280,"wires":[]},{"id":"278724c3.67cbbc","type":"osc","z":"5e99076a.951088","name":"/colorp","path":"/colorp","metadata":false,"x":790,"y":740,"wires":[["c5152ddc.2fe93","ed27cbca.09b4a8","1d2f0446.bdfa4c","79713719.466e08","6633bb85.6c2e24"]]},{"id":"2f74d033.fbb0a","type":"ui_slider","z":"5e99076a.951088","name":"","label":"color","tooltip":"{{msg.payload}}","group":"287080e9.b0308","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"10","step":1,"x":430,"y":740,"wires":[["661344a7.56d1cc"]]},{"id":"94c03488.428858","type":"ui_slider","z":"5e99076a.951088","name":"","label":"/pd/1","tooltip":"","group":"287080e9.b0308","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":430,"y":800,"wires":[["7f7c5326.d36d7c"]]},{"id":"7f7c5326.d36d7c","type":"osc","z":"5e99076a.951088","name":"/pd/1","path":"/pd/1","metadata":false,"x":790,"y":800,"wires":[["63723c1c.f47f14"]]},{"id":"63723c1c.f47f14","type":"tcp out","z":"5e99076a.951088","host":"192.168.42.113","port":"3002","beserver":"client","base64":false,"end":false,"name":"","x":1030,"y":960,"wires":[]},{"id":"ca280ad6.1b7958","type":"ui_text","z":"5e99076a.951088","group":"e7e12718.24e5e8","order":4,"width":0,"height":0,"name":"","label":"temp","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":120,"wires":[]},{"id":"636d6a95.ef26c4","type":"http request","z":"5e99076a.951088","name":"Smartcitizen API GET BARCELONA","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.smartcitizen.me/v0/devices/5353","tls":"","proxy":"","authType":"","x":650,"y":340,"wires":[["f9afed38.c81f1"]]},{"id":"f9afed38.c81f1","type":"function","z":"5e99076a.951088","name":"READINGS","func":"var pm1 = msg.payload.data.sensors[6].value;\nvar noise = msg.payload.data.sensors[2].value;\nvar press = msg.payload.data.sensors[3].value;\nvar pm2 = msg.payload.data.sensors[8].value;\nvar temp = msg.payload.data.sensors[10].value;\nvar pm10 = msg.payload.data.sensors[7].value;\n\nmsg.topic = \"value_barcelona\";\n\nreturn [{payload:pm1},{payload:noise},{payload:press},{payload:pm2},{payload:temp},{payload:pm10}];\n","outputs":6,"noerr":0,"x":890,"y":340,"wires":[["990c3282.15991","51ca6fb0.34544"],["75ce7487.af311c","65729608.5029b8"],["1f79ef34.22a031","ac87f3b1.ad49"],["3197b1ee.dad16e","82d30096.c930e"],["2a4525fb.8f1dea","4fdc66c3.c12968"],["dc31458f.eb87a8","6b057f4c.a9f99"]]},{"id":"990c3282.15991","type":"ui_text","z":"5e99076a.951088","group":"c16e92c2.87674","order":7,"width":0,"height":0,"name":"","label":"pm1","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":340,"wires":[]},{"id":"75ce7487.af311c","type":"ui_text","z":"5e99076a.951088","group":"c16e92c2.87674","order":2,"width":0,"height":0,"name":"","label":"noise","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":380,"wires":[]},{"id":"1f79ef34.22a031","type":"ui_text","z":"5e99076a.951088","group":"c16e92c2.87674","order":4,"width":0,"height":0,"name":"","label":"press","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":420,"wires":[]},{"id":"3197b1ee.dad16e","type":"ui_text","z":"5e99076a.951088","group":"c16e92c2.87674","order":5,"width":0,"height":0,"name":"","label":"pm2.5","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":460,"wires":[]},{"id":"2a4525fb.8f1dea","type":"ui_text","z":"5e99076a.951088","group":"c16e92c2.87674","order":3,"width":0,"height":0,"name":"","label":"temp","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":500,"wires":[]},{"id":"dc31458f.eb87a8","type":"ui_text","z":"5e99076a.951088","group":"c16e92c2.87674","order":1,"width":0,"height":0,"name":"","label":"pm10","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":540,"wires":[]},{"id":"1a64046a.d45acc","type":"trigger","z":"5e99076a.951088","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":620,"y":660,"wires":[["204b84d3.70bddc"]]},{"id":"8dd54d43.cf66e","type":"trigger","z":"5e99076a.951088","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":620,"y":700,"wires":[["93c9b94.0242848"]]},{"id":"661344a7.56d1cc","type":"trigger","z":"5e99076a.951088","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"-500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":620,"y":740,"wires":[["278724c3.67cbbc"]]},{"id":"efab403.13aaac","type":"inject","z":"5e99076a.951088","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"31 19 * * 5,6,0","once":false,"onceDelay":"","x":190,"y":1120,"wires":[["3a275670.5de5da"]]},{"id":"3a275670.5de5da","type":"scenario","z":"5e99076a.951088","name":"scenes","scenes":[],"x":545,"y":1135,"wires":[["430850c.63862b","8373cdf0.9e8fa"]]},{"id":"f9ef459a.6b8bd8","type":"inject","z":"5e99076a.951088","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"00 23 * * 5,6,0","once":false,"onceDelay":"","x":189,"y":1165,"wires":[["3a275670.5de5da"]]},{"id":"fed16a7a.335f38","type":"function","z":"5e99076a.951088","name":"","func":"msg.payload = \"init\";\nmsg.scenes = [{value: \"AABBCCDD\", time: 2000},\n             {value: 123456, time: 2000},\n             {value: [{id:\"lamp0\", value: true}, {id:\"lamp1\", value:false}], time: 4000},\n             {value: true, time: 3000}];\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":1212,"wires":[["3a275670.5de5da"]]},{"id":"7f5274f1.595eec","type":"function","z":"5e99076a.951088","name":"","func":"msg.payload = \"init\";\nmsg.scenes = [{value: [{id:\"lamp0\", value: false}, {id:\"lamp1\", value:false}], time: 4000},\n             {value: [{id:\"lamp0\", value: false}, {id:\"lamp1\", value:true}], time: 3000},\n             {value: [{id:\"lamp0\", value: true}, {id:\"lamp1\", value:false}], time: 2000},\n             {value: [{id:\"lamp0\", value: true}, {id:\"lamp1\", value:true}], time: 2000},];\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":1256,"wires":[["3a275670.5de5da"]]},{"id":"430850c.63862b","type":"split","z":"5e99076a.951088","name":"","splt":"","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":674,"y":1135,"wires":[["4956a37c.730c4c"]]},{"id":"8373cdf0.9e8fa","type":"debug","z":"5e99076a.951088","name":"","active":true,"console":"false","complete":"false","x":670,"y":1300,"wires":[]},{"id":"d4d0f6a7.532ab8","type":"inject","z":"5e99076a.951088","name":"init - random","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210,"y":1212,"wires":[["fed16a7a.335f38"]]},{"id":"20581ef0.d5c492","type":"inject","z":"5e99076a.951088","name":"init - lamps","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":202,"y":1256,"wires":[["7f5274f1.595eec"]]},{"id":"4956a37c.730c4c","type":"switch","z":"5e99076a.951088","name":"","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"cooling","vt":"str"},{"t":"eq","v":"sparkling","vt":"str"},{"t":"eq","v":"color","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":792,"y":1135,"wires":[["64cca21c.1f898c"],["64cc3493.477a0c"],["66fb81d6.b1bd3"]]},{"id":"64cca21c.1f898c","type":"change","z":"5e99076a.951088","name":"value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":931,"y":1093,"wires":[["a9f1e45a.5baaf8","94c03488.428858"]]},{"id":"64cc3493.477a0c","type":"change","z":"5e99076a.951088","name":"value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1140,"wires":[["5dc26cd8.880504","7e609e8a.856e"]]},{"id":"214b1a7c.88c566","type":"change","z":"5e99076a.951088","name":"save to Global shanghai","rules":[{"t":"set","p":"shanghai1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":80,"wires":[[]]},{"id":"e35651e6.17d6e","type":"change","z":"5e99076a.951088","name":"save to Global shanghai","rules":[{"t":"set","p":"shanghai0","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":40,"wires":[[]]},{"id":"db727dd0.dde3e","type":"change","z":"5e99076a.951088","name":"save to Global shanghai","rules":[{"t":"set","p":"shanghai2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":120,"wires":[[]]},{"id":"ae48666.7688598","type":"change","z":"5e99076a.951088","name":"save to Global shanghai","rules":[{"t":"set","p":"shanghai3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":160,"wires":[[]]},{"id":"30b5c1c3.15efae","type":"change","z":"5e99076a.951088","name":"save to Global shanghai","rules":[{"t":"set","p":"shanghai4","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":200,"wires":[[]]},{"id":"6a6d26a1.0e8b18","type":"change","z":"5e99076a.951088","name":"save to Global shanghai","rules":[{"t":"set","p":"shanghai5","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":240,"wires":[[]]},{"id":"ec64056d.8d3ae8","type":"change","z":"5e99076a.951088","name":"save to Global shanghai","rules":[{"t":"set","p":"shanghai6","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":280,"wires":[[]]},{"id":"51ca6fb0.34544","type":"change","z":"5e99076a.951088","name":"save to Global barcelona","rules":[{"t":"set","p":"barcelona0","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":340,"wires":[[]]},{"id":"65729608.5029b8","type":"change","z":"5e99076a.951088","name":"save to Global barcelona","rules":[{"t":"set","p":"barcelona1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":380,"wires":[[]]},{"id":"ac87f3b1.ad49","type":"change","z":"5e99076a.951088","name":"save to Global barcelona","rules":[{"t":"set","p":"barcelona2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":420,"wires":[[]]},{"id":"82d30096.c930e","type":"change","z":"5e99076a.951088","name":"save to Global barcelona","rules":[{"t":"set","p":"barcelona3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":460,"wires":[[]]},{"id":"4fdc66c3.c12968","type":"change","z":"5e99076a.951088","name":"save to Global barcelona","rules":[{"t":"set","p":"barcelona4","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":500,"wires":[[]]},{"id":"6b057f4c.a9f99","type":"change","z":"5e99076a.951088","name":"save to Global barcelona","rules":[{"t":"set","p":"barcelona5","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":540,"wires":[[]]},{"id":"17e3e146.0aec5f","type":"function","z":"5e99076a.951088","name":"","func":"var b0 = global.get(\"barcelona1\");\nvar b1 = global.get(\"barcelona1\");\nvar b2 = global.get(\"barcelona1\");\nvar b3 = global.get(\"barcelona1\");\nvar b4 = global.get(\"barcelona1\");\nvar b5 = global.get(\"barcelona1\");\nvar b6 = global.get(\"barcelona1\");\nvar s0 = global.get(\"shanghai0\");\nvar s1 = global.get(\"shanghai1\");\nvar s2 = global.get(\"shanghai2\");\nvar s3 = global.get(\"shanghai3\");\nvar s4 = global.get(\"shanghai4\");\nvar s5 = global.get(\"shanghai5\");\n\nmsg.payload = \"init\";\nmsg.scenes = [{value: [{id:\"cooling\", value: s1}, {id:\"sparkling\", value: s2}, {id:\"color\", value: 0}], time: 10000},\n             {value: [{id:\"cooling\", value: s2}, {id:\"sparkling\", value: s3}, {id:\"color\", value: 2}], time: 30000},\n             {value: [{id:\"cooling\", value: s3}, {id:\"sparkling\", value: s4}, {id:\"color\", value: 5}], time: 20000},\n             {value: [{id:\"cooling\", value: s4}, {id:\"sparkling\", value: s5}, {id:\"color\", value: 6}], time: 20000},\n             {value: [{id:\"cooling\", value: b3}, {id:\"sparkling\", value: b1}, {id:\"color\", value: 0}], time: 10000},\n             {value: [{id:\"cooling\", value: b2}, {id:\"sparkling\", value: b3}, {id:\"color\", value: 2}], time: 30000},\n             {value: [{id:\"cooling\", value: b3}, {id:\"sparkling\", value: b4}, {id:\"color\", value: 3}], time: 20000},\n             {value: [{id:\"cooling\", value: b4}, {id:\"sparkling\", value: b5}, {id:\"color\", value: 4}], time: 20000},];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1300,"wires":[["3a275670.5de5da"]]},{"id":"d1d104eb.c4dd18","type":"inject","z":"5e99076a.951088","name":"SC DATA VARS","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 19 * * 5,6,0","once":false,"onceDelay":"","x":190,"y":1300,"wires":[["17e3e146.0aec5f"]]},{"id":"66fb81d6.b1bd3","type":"change","z":"5e99076a.951088","name":"value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1180,"wires":[["2f74d033.fbb0a","427ae4b3.f238cc"]]},{"id":"5ee14a7e.996614","type":"osc","z":"5e99076a.951088","name":"/pd/2","path":"/pd/2","metadata":false,"x":790,"y":840,"wires":[["63723c1c.f47f14"]]},{"id":"65802e0c.086db","type":"osc","z":"5e99076a.951088","name":"/pd/3","path":"/pd/3","metadata":false,"x":790,"y":880,"wires":[["63723c1c.f47f14"]]},{"id":"7e609e8a.856e","type":"ui_slider","z":"5e99076a.951088","name":"","label":"/pd/2","tooltip":"","group":"287080e9.b0308","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":430,"y":840,"wires":[["5ee14a7e.996614"]]},{"id":"427ae4b3.f238cc","type":"ui_slider","z":"5e99076a.951088","name":"","label":"/pd/3","tooltip":"","group":"287080e9.b0308","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":430,"y":880,"wires":[["65802e0c.086db"]]},{"id":"287080e9.b0308","type":"ui_group","z":"","name":"Control","tab":"382c4e6a.0a0842","order":3,"disp":true,"width":"6","collapse":false},{"id":"e7e12718.24e5e8","type":"ui_group","z":"","name":"Shanghai","tab":"382c4e6a.0a0842","order":2,"disp":true,"width":"6","collapse":false},{"id":"c16e92c2.87674","type":"ui_group","z":"5e99076a.951088","name":"Barcelona","tab":"382c4e6a.0a0842","disp":true,"width":"6","collapse":false},{"id":"382c4e6a.0a0842","type":"ui_tab","z":"","name":"Llum2020","icon":"dashboard","disabled":false,"hidden":false}]